{% extends 'vending_machine/base_token.html' %}


{% block body %}
<body class="text-center">
<h5>
    Total tokens : {{total_num_tokens}}  <br>
    Tokens : {{doctor.tokens}}  <br>
next token to call:  {{doctor.next_token}}    <br>
Present token called:  {{doctor.current_token}}    <br>
avg waiting time for consultations is 10 mins

<form action="{% url 'token_generation' %}" method="POST">
    {% csrf_token %}
    Please Click on Confirm button to create a token or Home button to go to Department page  <br>
    <input type="hidden" name="doctor_id" id="" value="{{doctor.id}}">
    <button  name="confirm" type="submit">Confirm</button>
</form>
</h5>
</body>
{% endblock %}